@charset "utf-8";

/* header */
.navbar{background-color:#fff !important; border-bottom:1px solid #ddd;}
.navbar-dark .navbar-brand{color:#333; font-weight:700; font-size:35px;}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{color:#333 !important;}

/* footer */
body > .container-fluid{background-color:#fff !important; border-top:1px solid #ddd;}
body > .container-fluid p{color:#333;}

/* container */
body > .container{margin-top:150px !important;}

/* index */
.index > .container .card{border:0px;}
.index > .container .card-body{padding:0px;}
.index > .container .card-body img{width:100%; height:auto;}
.index > .container .card-body a{position:relative; display: block; width: 100%; height: 100%;}
.index > .container .card-body span{display:block; color:#333; text-align:center; padding:0px 20px; text-transform: uppercase; font-size:20px; position:absolute; top:50%; left:0px; width:100%; height:20px; line-height:20px; margin-top:-10px;}
.index > .container .card-body:hover span{transform:scale(1.2); font-weight:700;}
/* board main font color 바꾸기 */
.board_main .card-body #board_list td a{color:}

